.spherePurple {
  animation: driftTopLeft 25s ease-in-out infinite alternate;
}

.sphereBlue {
  animation: driftBottomRight 30s ease-in-out infinite alternate;
}

.sphereRed {
  animation: pulseCenter 20s ease-in-out infinite alternate;
}

@keyframes driftTopLeft {
  0% {
    transform: translate(0, 0) scale(1);
  }

  100% {
    transform: translate(10%, 5%) scale(1.1);
  }
}

@keyframes driftBottomRight {
  0% {
    transform: translate(0, 0) scale(1);
  }

  100% {
    transform: translate(-5%, -10%) scale(1.05);
  }
}

@keyframes pulseCenter {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.5;
  }

  100% {
    transform: translate(5%, -5%) scale(1.2);
    opacity: 1;
  }
}
